<!DOCTYPE html>
<html>
    
<body style="background-color:powderblue;">

<h3><i>Subject: <strong><%= details.designation %></strong> Offer Letter</i></h3>

<p>The entire team of <i><%= details.company %></i> is thrilled to welcome you on board. We hope you’ll do some amazing works here! </p>

<h4>Regards,</h4>
<p><i><%= details.name %></i></p>

</body>
</html>